* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 5000px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    align-items: center;
    height: 35px;
    background-color: rgb(53, 114, 135);
}

.navbar img {
    width: 50%;
    display: flex;

}

.navbar .list ul {
    display: flex;
    list-style-type: none;
    gap: 14px;
}